.header {
    position: absolute;
    background-color: var(--bg-secondary);
    height: 100%;
    width: 100px;
    top: 0;
    left: 0;
    padding: 52px 0;
}

.logo-container {
    position: relative;
    margin: 0 16px;
    margin-bottom: 3rem;
}

.logo {
    max-width: 68px;
    margin: 0 auto;
}

.logo-underline {
    position: absolute;
    background-color: var(--gray);
    height: 2px;
    left: 0;
    right: 0;
    bottom: -10px;
}

.nav {
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link {
    width: 100%;
    background-color: #fff;
    border-radius: 25px 0px 0px 25px;
}